@font-face {
    font-family:'seven';
    src: url('../assets/fonts/Seven.otf');
    font-weight: normal;
    font-style: normal;
};


@font-face {
    font-family:'game';
    src: url('../assets/fonts/Endgame.otf');
    font-weight: normal;
    font-style: normal;
};
